$dark-color: #111;
$light-color: #eee;
$button-background: lightblue;

.dark-mode {
  background-color: $dark-color;
  color: $light-color;
  a {
    color: $dark-color;
  }
  .card-body{
    background-color: $dark-color;
  }
  dropdown-menu {
    background-color: $light-color;
    color: $dark-color;
  }
  .delete{
    background-color: $button-background;
  }
}

body.light-mode {
  background-color: $light-color;
  color: $dark-color;
  a {
    color: $dark-color;
  }
  .card-body{
    background-color: $light-color;
  }
  dropdown-menu {
    background-color: $dark-color;
    color: $light-color;
  }
}