$dark-color: #111;
$light-color: #eee;
$button-background: lightblue;
$halloween-color: orange;

.dark-mode {
  background-color: $dark-color;
  color: $light-color;
  a {
    color: $dark-color;
  }
  .dropdown-menu-right {
    background-color: $light-color;
    color: $dark-color;
  }
  .delete{
    background-color: $halloween-color;
  }
  p{
    color: $halloween-color;
  }
  .differentCards{
    background-color: $dark-color;
    box-shadow:  0px 5px 5px 10px $halloween-color;
  }
}

body.light-mode {
  background-color: $light-color;
  color: $dark-color;
  a {
    color: $dark-color;
  }
  .card-body{
    background-color: $light-color;
  }
  dropdown-menu {
    background-color: $dark-color;
    color: $light-color;
  }
}

.large-font{
  font-size: x-large;
  
}